body {
    margin: 0 auto;
    max-width: 50em;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color:#555;
    
}
h1 {
    color: #333;
    
}


.laatikko {
    width: 300px;
    height: 400px;
    border: solid gray 5px;
    background-color: ;
    border-radius: 5px;
    text-align: center;
    margin: 10px;  
    position:absolute;
    left: 100px;
        
}

.laatikko2 {
    width: 300px;
    height: 400px;
    border: solid gray 5px;
    border-radius: 5px;
    text-align: center;  
    margin: 10px;
    position:absolute;
    left: 450px;
}

.laatikko3 {
    width: 300px;
    height: 200px;
    border: solid gray 5px;
    border-radius: 5px;
    text-align: center;  
    margin: 10px;
    position:absolute;
    left: 100px;
    top: 540px;
    
}

.laatikko4 {
    width: 300px;
    height: 200px;
    border: solid gray 5px;
    border-radius: 5px;
    text-align: center;  
    margin: 10px;
    position:absolute;
    left: 450px;
    top: 540px;
    background-color: antiquewhite;
    
}

.laatikko5 {
    width: 200;
    height: 570;
    margin-top: 10px;
    position: absolute;
    left: 770px;
    

}